:root {
    --primaryColor: #0076de;
    --whiteColor: #fff;
    --blackColor: #333;
    --greyColor: #f6f8fa;
    --labelColor: #64b1f5;
    --yellowColor: #ffd723;
}

.job-list {
    margin: 5%;
    padding: 1rem;
    background-color: var(--greyColor);
}

.job-card {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    align-items: center;
    background-color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
    cursor: pointer;


}

.job-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1)0px 4px 12px;
}

.job-name {
    display: flex;
}

.job-profile {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
}

.job-detail {
    padding: 0 10px;
}

.job-detail>h4 {
    color: var(--primaryColor);
    font-size: 0.9rem;
}

.job-detail>p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.job-label {
    display: flex;
    flex-wrap: wrap;
}

.job-label>a {
    padding: 0 1rem;
    margin: 0.3rem;
    color: var(--whiteColor);
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.8rem;
}

.label-a {
    background-color: var(--yellowColor);
}

.label-b {
    background-color: var(--primaryColor);
}

.label-c {
    background-color: var(--blackColor);
}

.job-posted {
    font-size: 0.8rem;
}

.job-more {
    display: block;
    padding: 0.3rem 2rem;
    margin: 20px auto;
    width: 250px;
    background-color: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    cursor: pointer;
}

.job-more:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.job-text {
    text-align: center;
}

@media screen and (max-width: 474px) {
    .job-list {
        margin: 2%;
    }

    .job-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-name {
        flex-direction: column;
    }

    .job-profile {
        margin: 0;
    }

    .job-detail {
        padding: 10px 0;
    }

    .job-label {
        justify-content: center;
    }

    .job-label>a {
        margin: 0.2rem;
        font-size: 0.7rem;
    }

    .job-more {
        width: 100%;
    }
}