.toppart {
    background-color: #1c2331;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.toppart span {
    font-size: 25px;
}

.top-icons i {
    color: white;


}