/*  */
/* this file named (home.css) contains css for both the login pages */
/* this file is css file for home(employee login and company login) */
.rowmain {
    margin-top: 50px;
}

.mainform {
    border: 2px solid black;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
}

.signup {
    margin-top: 80px;
}

.settlecontrol {
    width: 80%;
    margin: auto;

}

.btn {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

/* 
@media only screen and (min-width: 281px) and (max-width:380px) {
    .mainform {
        width: 300px;
        margin-left: 20px;
    }

    .imagesettle {
        max-width: 300px;
        margin-left: 10px;
    }
} */

@media only screen and (min-width: 495px) and (max-width:635px) {

    .mainform {
        margin-left: 5px;
        margin-right: 10px;
        width: 400px;
    }

    .imagesettle {
        width: 310px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width:494px) {}

@media only screen and (max-width: 280px) {

    .rowmain {
        margin-top: 50px;
        margin-right: 2px;
        width: 100%;
    }



    .imagesettle {
        width: 230px;
    }

    .textsettle {
        margin-left: 5px;
    }

}