@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@300;400&family=Lexend+Deca:wght@300&family=Livvic:wght@300&family=Roboto&display=swap');

.body {
    overflow-x: hidden;
}

.browser {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    margin-top: 0;
}

.slide-container {
    max-width: 1320px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    padding: 45px 20px;
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    margin-left: 40px;
    border-radius: 25px;
    background-color: #fff;
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    row-gap: 5px;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    border-radius: 25px 25px 0px 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, #FFEDBC, #ED4264);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.field {
    font-size: 28px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    color: #fff;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transform: all 0.3s ease;
}

.swipper-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
}





@media (max-width: 320px) {
    .card {
        width: 170px;
        margin-left: 10px;
    }

    .slide-content {
        margin-left: 20px;
    }

    .slide-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .overlay::before,
    .overlay::after {
        display: none;
    }
}