* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.postmain {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ED4264;
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    background: linear-gradient(to right, #FFEDBC, #ED4264);
}

.postcontent {
    margin-top: 10px;
}

.postheading {
    display: flex;
    align-items: center;
    justify-content: center;

}

.postmargin {
    margin-bottom: 20px;
    width: 90%;
    /* margin-left: 10px; */
    border: 2px solid grey;
}