* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.postmain {
    background: #ED4264;
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    min-height: 250px;
}

.postcontent {
    margin-top: 15px;
}

.postheading {
    display: flex;
    align-items: center;
    justify-content: center;

}

.postmargin {
    margin-bottom: 15px;
    width: 80%;
    margin-left: 10px;
    border: 2px solid black;
}