@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@300;400&family=Lexend+Deca:wght@300&family=Livvic:wght@300&family=Poppins:wght@400;500&family=Roboto&display=swap');


.top-part {
    font-family: 'Poppins', sans-serif;
    background: #ED4264;
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    width: 100%;


    /* overflow-x: hidden; */
    background-size: cover;
    background-repeat: no-repeat;

}

.searchbar {
    display: flex;
    padding: 10px 10px;
}

.search-container {
    border: 2px solid black;
    margin-left: 10px;
    background-color: white;
}



.filter img {
    width: 20px;
}

/* .just {
    margin-left: 5px;
} */



.btn {
    border: 2px solid black;
    background: black;
    color: white;
}

.btn:hover {
    color: white;
    background-color: blue;
}

.popular-search {


    border-radius: 10px;

    color: black;
}

.results {
    display: flex;
}

.margin {
    border: 3px solid rgb(72, 69, 64);
    padding: 10px;
    margin: 0px 5px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}






/* Responsive Styles */